<div class='register-card'>
  <h1>Register!</h1>
  <div class='main'>
    <div class='column'>
      <form>
        <div class='nes-field'>
          <label for='name_field'>Username</label>
          <input type='text' class='nes-input' placeholder='Enter Username' />
        </div>
        <div class='nes-field'>
          <label for='name_field'>Email Address</label>
          <input
            type='text'
            class='nes-input'
            placeholder='Enter Email Address'
          />
        </div>
        <div class='nes-field'>
          <label for='name-field'>Password</label>
          <input type='text' class='nes-input' placeholder='Enter Password' />
        </div>
        <button
          type='button'
          class='nes-btn is-primary'
          id='register-btn'
        >Register</button>
        <p>Existing User?
          <button type='button' class='nes-btn signin-reroute is-small'>
            Login</button>
        </p>
      </form>
    </div>
  </div>
</div>
<script src='../public/js/register.js'></script>