<h1>Register!</h1>
<div class="main">
    <div class="column">
        <form>
            <div class="nes-field">
                <label for="name_field">Username</label>
                <input type="text" class="nes-input" placeholder="Enter Username">
            </div>
            <div class="nes-field">
                <label for="name_field">Email Address</label>
                <input type="text" class="nes-input" placeholder="Enter Email Address">
            </div>
            <div class="nes-field">
                <label for="name-field">Password</label>
                <input type="text" class="nes-input" placeholder="Enter Password">
            </div>
            <button type="button" class="nes-btn is-primary register-btn">Login</button>
            <p>Existing User? Login</p>
        </form>
    </div>
</div>