<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nick's Tech Blog</title>
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <div class="header">
      <div class="navbarbtns">
        <button type="button" class="nes-btn is-error is-small">Home</button>
        <button type="button" class="nes-btn is-error is-small">Dashboard</button>
        <button type="button" class="nes-btn is-error is-small">Logout</button>
      </div>
      <button type="button" class="nes-btn is-primary homebutton is-small">Nick's Tech Blog</button>
    </div>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Press+Start+2P">  
  </body>
</html>
